@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
h1 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.36px;
  color: #33323d;
}

h2 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.36px;
  color: #33323d;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #33323d;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img,
svg {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

main {
  padding: 0 32px;
  flex: 1;
}
@media (min-width: 768px) {
  main {
    padding: 0 40px;
  }
}
@media (min-width: 1280px) {
  main {
    padding: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari/Chrome */
  appearance: textfield; /* Standard */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 40px 32px;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) {
  .header-container {
    padding: 64px 40px 47px 40px;
  }
}
@media (min-width: 1280px) {
  .header-container {
    padding: 64px 0 54px 0;
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
  }
}

#primaryNav {
  display: none;
}
@media (min-width: 768px) {
  #primaryNav {
    display: block;
  }
}

#primaryNav.active {
  display: block;
  position: absolute;
  top: 88px;
  right: 32px;
  background-color: #33323d;
  padding: 40px 0;
  width: 223px;
  z-index: 10000;
}

.primary-nav {
  list-style: none;
  text-align: center;
  display: grid;
  gap: 32px;
}
@media (min-width: 768px) {
  .primary-nav {
    display: flex;
    gap: 42px;
  }
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .nav-link {
    color: #33323d;
  }
}

@media (min-width: 768px) {
  .current {
    color: #5fb4a2;
  }
}

footer {
  background-color: #33323d;
  color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 56px;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 40px;
  }
}
@media (min-width: 1280px) {
  .footer-container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
  }
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (min-width: 768px) {
  .footer-main {
    flex-direction: row;
    justify-content: flex-start;
    gap: 48px;
  }
}

.footer-nav {
  list-style: none;
  display: grid;
  gap: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-nav {
    display: flex;
    gap: 42px;
  }
}

.footer-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

.social {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: #ffffff;
}

.hamburger {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.primary-btn {
  background-color: #203a4c;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  height: 48px;
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  outline: none;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

.primary-btn:focus-visible {
  outline: 2px solid #5fb4a2;
  outline-offset: 2px;
}

.primary-btn:hover {
  background-color: #5fb4a2;
}

.primary-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  background-color: hsla(0, 0%, 0%, 0.1);
  height: 100%;
  color: #5fb4a2;
}

.primary-btn:hover .arrows {
  color: #ffffff;
}

.secondary-btn {
  border: 1px solid #33323d;
  padding: 17px 33.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #33323d;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

.secondary-btn:hover {
  background-color: #33323d;
  color: #fafafa;
}

.project-preview-text {
  position: relative;
  margin-top: 32px;
  padding: 24px 0;
}
@media (min-width: 768px) {
  .project-preview-text {
    margin-top: 0;
    padding: 32px 0 50px 0;
  }
}
@media (min-width: 1024px) {
  .project-preview-text {
    padding: 0;
    max-width: 350px;
    width: 100%;
    height: 100%;
    place-content: center;
  }
}

.project-preview-text p {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .project-preview-text p {
    margin-top: 29px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1024px) {
  .project-preview-text p {
    margin-top: 28px;
    margin-bottom: 24px;
  }
}

.project-preview-text::before,
.project-preview-text::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsla(245, 10%, 22%, 0.15);
}

.project-preview-text::before {
  top: 0;
}

.project-preview-text::after {
  bottom: 0;
}

.portfolio-img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .portfolio-img {
    min-width: 339px;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) {
  .portfolio-img {
    max-width: 540px;
  }
}

.pagination {
  border-top: 1px solid hsla(245, 10%, 22%, 0.15);
  border-bottom: 1px solid hsla(245, 10%, 22%, 0.15);
  margin-bottom: 64px;
}

.pagination ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pagination a {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .pagination a {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

.previous,
.next {
  padding: 24px 0;
}
@media (min-width: 768px) {
  .previous,
  .next {
    padding: 32px 0;
  }
}

.next a {
  align-items: flex-end;
}
@media (min-width: 768px) {
  .next a {
    align-items: center;
    flex-direction: row-reverse;
  }
}

.next {
  border-left: 1px solid hsla(245, 10%, 22%, 0.15);
  text-align: right;
}

.project-title {
  display: block;
  font-family: "Ibarra Real Nova", serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.29px;
  color: #33323d;
}

.project-navigation {
  display: block;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0;
  color: hsla(245, 10%, 22%, 0.5);
}

form {
  display: grid;
  gap: 24px;
}

label {
  font-family: "Public Sans", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
}

input {
  background-color: hsla(245, 10%, 22%, 0.1);
  border: none;
  outline: none;
  padding: 9px 16px;
  font-family: "Public Sans", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
  font-weight: 400;
}

input::placeholder,
textarea::placeholder {
  color: hsla(245, 10%, 22%, 0.4);
}

input:focus,
textarea:focus {
  border: 1px solid #5fb4a2;
}

.input-error {
  border: 1px solid #f43030;
}

.error-message {
  color: #f43030;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0px;
  font-style: italic;
  font-weight: 700;
}

textarea {
  background-color: hsla(245, 10%, 22%, 0.1);
  border: none;
  outline: none;
  padding: 9px 16px;
  font-family: "Public Sans", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
  font-weight: 400;
  height: 96px;
  resize: none;
}

.submit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  background-color: #203a4c;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.submit-btn:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #5fb4a2;
}

.input-group {
  display: grid;
  gap: 8px;
}

#hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 96px;
  position: relative;
}

.hero-text {
  display: grid;
  gap: 32px;
}
@media (min-width: 768px) {
  .hero-text {
    background-color: #ffffff;
    width: 514px;
    padding: 56px 56px 0 0;
    gap: 48px;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 1280px) {
  .hero-text {
    width: 445px;
    gap: 53px;
  }
}

.hero-img {
  width: 100%;
  height: auto;
}

#cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  #cta {
    display: grid;
    grid-template-columns: 350px 1fr auto;
    justify-content: start;
    gap: 32px;
    text-align: left;
    margin-top: 96px;
    margin-bottom: 96px;
  }
}
@media (min-width: 1280px) {
  #cta {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

.cta-separator {
  display: none;
}
@media (min-width: 768px) {
  .cta-separator {
    width: 100%;
    height: 1px;
    background-color: hsla(245, 10%, 22%, 0.15);
    display: block;
  }
}

#about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 115px;
}
@media (min-width: 768px) {
  #about {
    display: grid;
    grid-template-columns: 281px 1fr;
    gap: 69px;
  }
}
@media (min-width: 1280px) {
  #about {
    grid-template-columns: 540px 1fr;
    gap: 125px;
  }
}

.about-img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .about-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: hsla(245, 10%, 22%, 0.15);
  display: block;
}

.about-text {
  margin-top: 32px;
  margin-bottom: 51px;
}
@media (min-width: 768px) {
  .about-text {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.about-text p {
  margin-top: 28px;
  margin-bottom: 24px;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0;
}

#portfolio {
  display: grid;
  gap: 96px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  #portfolio {
    margin-bottom: 96px;
    gap: 88px;
  }
}
@media (min-width: 1024px) {
  #portfolio {
    gap: 80px;
    margin-bottom: 150px;
  }
}

@media (min-width: 768px) {
  #portfolio article {
    display: flex;
    align-items: center;
    gap: 69px;
  }
}
@media (min-width: 1024px) {
  #portfolio article {
    gap: 125px;
    max-width: 1015px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #portfolio article:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  #portfolio article:nth-child(odd) {
    justify-self: flex-end;
  }
}

.inner-heading {
  font-family: "Ibarra Real Nova", serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: -0.29px;
  color: #33323d;
}

@media (min-width: 1280px) {
  .project-details-wrapper {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 125px;
    align-items: start;
    margin-top: 115px;
    margin-bottom: 64px;
  }
}

@media (min-width: 1280px) {
  .right-column-wrapper {
    grid-column: 2;
    display: grid;
    gap: 40px;
  }
}

.project-intro {
  margin-top: 40px;
  margin-bottom: 48px;
  display: grid;
  justify-items: start;
  gap: 24px;
  padding: 24px 0;
  position: relative;
}
@media (min-width: 768px) {
  .project-intro {
    padding: 32px 0;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: unset;
    column-gap: 12px;
    row-gap: 16px;
    grid-template-areas: "title text" "skills text" "button text";
  }
}
@media (min-width: 1280px) {
  .project-intro {
    margin-top: 0;
    margin-bottom: 0;
    align-self: start;
    grid-column: 1;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-template-areas: unset;
    row-gap: 0;
    padding: 48px 0;
  }
}

@media (min-width: 768px) {
  #project-hero-heading {
    grid-area: title;
  }
}
@media (min-width: 1280px) {
  #project-hero-heading {
    grid-area: unset;
  }
}

.tags {
  font-family: "Public Sans", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
  color: #5fb4a2;
  display: grid;
  gap: 0;
}
@media (min-width: 768px) {
  .tags {
    grid-area: skills;
  }
}
@media (min-width: 1280px) {
  .tags {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0;
    grid-area: unset;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .visit-btn {
    grid-area: button;
  }
}
@media (min-width: 1280px) {
  .visit-btn {
    grid-area: unset;
    margin-top: 32px;
  }
}

@media (min-width: 768px) {
  .project-description {
    grid-area: text;
  }
}
@media (min-width: 1280px) {
  .project-description {
    grid-area: unset;
    margin-top: 29px;
    margin-bottom: 23px;
  }
}

.project-intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsla(245, 10%, 22%, 0.15);
  top: 0;
  left: 0;
  display: block;
}

.project-intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsla(245, 10%, 22%, 0.15);
  bottom: 0;
  left: 0;
  display: block;
}

#project-background {
  margin-bottom: 40px;
  display: grid;
  gap: 28px;
}
@media (min-width: 1280px) {
  #project-background {
    margin-bottom: 0;
  }
}

#static-previews {
  margin-bottom: 64px;
  display: grid;
  gap: 40px;
}
@media (min-width: 768px) {
  #static-previews {
    margin-bottom: 80px;
  }
}
@media (min-width: 1280px) {
  #static-previews {
    margin-bottom: 0;
  }
}

.static-previews-wrapper {
  display: grid;
  gap: 32px;
}

.project-hero-img,
.static-preview-img {
  width: 100%;
  height: auto;
}

@media (min-width: 1280px) {
  .project-hero-img {
    margin-top: 47px;
  }
}

.body-link {
  color: #33323d;
}

.body-link:hover {
  color: #5fb4a2;
}

#contact {
  display: grid;
  gap: 32px;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  #contact {
    margin-bottom: 96px;
    margin-top: 47px;
  }
}
@media (min-width: 1024px) {
  #contact {
    margin-bottom: 109px;
    margin-top: 40px;
    gap: 48px;
  }
}

#contact section {
  display: grid;
  gap: 24px;
  padding-top: 24px;
  position: relative;
}
@media (min-width: 768px) {
  #contact section {
    padding-top: 32px;
  }
}
@media (min-width: 1024px) {
  #contact section {
    padding-top: 48px;
    grid-template-columns: 1fr 635px;
    gap: 125px;
  }
}

#contact section::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: hsla(245, 10%, 22%, 0.15);
}

.get-in-touch-text {
  display: grid;
  gap: 24px;
}

#contact .social {
  justify-content: flex-start;
}

.social-link-contact {
  color: #33323d;
}

.toast {
  display: none;
  position: fixed;
  z-index: 20000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #33323d;
  color: #ffffff;
  border-radius: 16px;
  padding: 40px 16px;
}

.toast p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.toast.visible {
  display: block;
}

.toast-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 15000;
}

.toast-overlay.visible {
  display: block;
}

/*# sourceMappingURL=main.css.map */
