@use "../abstracts" as *;
@use "../base/typography" as typo;

#cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-bottom: 80px;
  @include respond(medium, min) {
    display: grid;
    grid-template-columns: 350px 1fr auto;
    justify-content: start;
    gap: 32px;
    text-align: left;
    margin-top: 96px;
    margin-bottom: 96px;
  }
  @include respond(xl, min) {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

.cta-separator {
  display: none;
  @include respond(medium, min) {
    width: 100%;
    height: 1px;
    background-color: hsla(245, 10%, 22%, 0.15);
    display: block;
  }
}
