@use "../abstracts" as *;
@use "../base/typography" as typo;

#hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 96px;
  position: relative;
}

.hero-text {
  display: grid;
  gap: 32px;
  @include respond(medium, min) {
    background-color: $clr-body-text-white;
    width: 514px;
    padding: 56px 56px 0 0;
    gap: 48px;
    position: absolute;
    bottom: 0;
  }
  @include respond(xl, min) {
    width: 445px;
    gap: 53px;
  }
}

.hero-img {
  width: 100%;
  height: auto;
}
