@use "../abstracts" as *;
@use "../base/typography" as typo;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 32px 40px 32px;
  position: relative;
  z-index: 10;
  @include respond(medium, min) {
    padding: 64px 40px 47px 40px;
  }
  @include respond(xl, min) {
    padding: 64px 0 54px 0;
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
  }
}

#primaryNav {
  display: none;
  @include respond(medium, min) {
    display: block;
  }
}

#primaryNav.active {
  display: block;
  position: absolute;
  top: 88px;
  right: 32px;
  background-color: $clr-body-text-dark;
  padding: 40px 0;
  width: 223px;
  z-index: 10000;
}

.primary-nav {
  list-style: none;
  text-align: center;
  display: grid;
  gap: 32px;
  @include respond(medium, min) {
    display: flex;
    gap: 42px;
  }
}

.nav-link {
  color: $clr-body-text-white;
  text-decoration: none;
  text-transform: uppercase;
  @include text-preset(typo.$text-preset-links-mobile);
  @include respond(medium, min) {
    color: $clr-body-text-dark;
  }
}

.current {
  @include respond(medium, min) {
    color: $clr-accent;
  }
}
