@use "../abstracts" as *;
@use "../base/typography" as typo;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: $clr-bg;
  color: $clr-body-text-dark;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img,
svg {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

main {
  padding: 0 32px;
  flex: 1;
  @include respond(medium, min) {
    padding: 0 40px;
  }
  @include respond(xl, min) {
    padding: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari/Chrome */
  appearance: textfield; /* Standard */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
