// COLOR PALETTE
$cyan: #5fb4a2;
$dark-blue: #203a4c;
$grey-blue: #33323d;
$grey-blue-80: hsla(245, 10%, 22%, 0.8);
$very-light-grey: #fafafa;
$light-grey: #eaeaeb;
$bright-red: #f43030;
$white: #ffffff;

// SEMANTIC VALUES
$clr-bg: $very-light-grey;
$clr-text-field: $light-grey;
$clr-error: $bright-red;
$clr-body-text-white: $white;
$clr-dark-bg: $grey-blue;
$clr-body-text-dark: $grey-blue;
$clr-body-text-light: $grey-blue-80;
$clr-accent: $cyan;
$clr-primary-btn: $dark-blue;
